{% extends "layout.html.twig" %}

{% block content %}
<div class="container-lg">
{% for post in posts %}

<div class="row">
<div class="col">
<h2 class="text-center">{{post.title()}}</h2>
</div>
<div class ="col">
<h2>{{post.user.firstname}} {{post.user.lastname}}</h2>
</div>
<h3>{{post.excerpt()}}</h3>

<p>{{post.content()}}</p>
</div>

{% endfor %}
</div>
{% endblock %}