{% extends "layout.html.twig" %}

{% block content %}

	<div class="container-lg">
		{% for post in posts.listPost %}
			<a href="/blog/post?id={{post.id}}">
				<div class="row">
					<div class="col">
						<h2 class="text-center">{{ post.title}}</h2>
					</div>
					<div class="col">
						<h2>{{post.author }}
						</h2>
						<h4>{{post.date}}<h4></div>
							<h3>{{post.excerpt}}</h3>
						</div>
					</a>

				{% endfor %}
			</div>
		{% endblock %}
