{% extends "layout.html.twig" %}
{% block content %}
	<div class="container-lg">
		<article>
			<!-- Post header-->
			<header
				class="mb-4">
				<!-- Post title-->
				<h1 class="fw-bolder mb-1">{{ post.title}}</h1>
				<!-- Post meta content-->
				<div class="text-muted fst-italic mb-2">Posted
					{{post.date}}
					by
					{{post.author }}</div>
				<!-- Post categories-->
				<div class="badge bg-secondary text-decoration-none">{{post.excerpt}}</div>
			</header>
			<!-- Preview image figure-->
			<figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..."/></figure>
			<!-- Post content-->
			<section class="mb-5">
				<p>{{post.content}}</p>
			</section>
		</article>


		<section class="mb-5">

			<div class="card bg-light">
				<h3 class="text-center">Commentaires</h3>
				<div
					class="card-body">
					<!-- Comment form-->

					{% if user %}
						<form class="mb-4 action=" " method=" post" onsubmit=" comment(event)"">
							<input type="hidden" name="token" value="{{ csrfToken }}">
							<input type="hidden" name="idPost" value="{{post.id}}">
							<div class="mb-3">
								<textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
							</div>
							<input class="btn btn-primary" type="submit">
                            <hr>
						</form>
					</form>
				{% endif %}

				{% if post.comments is empty  %}
					<p>
						pas de Commentaires Soyez le premier à commenter!!!</p>
				{% endif %}

				{% for comment in post.comments %}
					<div class="d-flex">
						<div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/></div>
						<div class="ms-3">
							<div class="fw-bold">{{comment.author}}</div>
							{{comment.content}}
							<div class="text-muted">{{comment.date}}</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>


</div></div><script src="/Javascript/Form/comment.js"></script>{% endblock %}
