{% extends "layout.html.twig" %}
{% block content %}

	<div class="container-lg">
		{% if information %}
			<h3>{{information}}</h3>
		{% endif %}
		{% set commmentModeration = 0 %}
		<h1>Commentaires à modérer</h1>
		{%for post in posts %}
			{% if post.comments %}
				{% set commmentModeration = 1 %}
				<div class="card my-3 ">
					<div class="card-header flex-wrap d-flex flex-column align-items-center justify-content-between dropdown-toggle " role="button" aria-controls="collapse{{post.id}}" data-bs-target="#collapse{{post.id}}" data-bs-toggle="collapse" aria-expanded="false">
						<div class="text-center">
							<h3>
								{{post.title}}</h3>
						</div>
						<div class="mt-2 d-flex flex-wrap justify-content-around w-100">
							<h5>
								{{post.comments|length}}
								commentaire non modéré</h5>
							<h6>
								Par :
								{{post.author}}
								Le :
								{{post.date}}
							</h6>
						</div>

					</div>
					<!-- Card Body -->
					<form method="post" accept-charset="UTF-8" class="collapse" id="collapse{{post.id}}">
						<input type="hidden" name="csrfToken" value="{{ csrfToken }}">
						<table class="table table-striped card-body">
							<thead>
								<tr class="">
									<th scope="col" class="col-1 text-center">Selectionner</th>
									<th scope="col" class="col-3">Nom de l'auteur</th>
									<th scope="col">Commentaire</th>
								</tr>
							</thead>
							<tbody>
								{% for comment in post.comments %}
									<tr class="">
										<td scope="row " class="text-center col-1">
											<input type="checkbox" class="form-checkbox" name="id[]" value="{{comment.id}}">
										</td>
										<td class="col-3">{{ comment.author }}
										</td>
										<td>{{comment.content}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="m-2">
							<input class="btn-warning btn" type="submit" name="deleted" value="supprimer">
							<input class="btn btn-warning" type="submit" name="approved" value="approuver">
						</div>
					</form>
				</div>
			{% endif %}
		{% endfor %}
		{% if commmentModeration == 0 %}
			<h2>
				il n'y a rien a modérer</h2>
		{% endif %}


	</div>
{% endblock %}
