{% extends "layout.html.twig" %}

{% block content %}
	<div class="postList" data-posts="{{posts.listPost|json_encode}}"></div>
	<div class="container-lg">
		{% for post in posts %}
			<div class="card text-dark my-4 px-2">


				<div class="text-center">
					<h2 class="text-center">{{post.title}}</h2>
				</div>
				<div class="row ">
					<div class="col">
						<h2>{{post.author}}
						</h2>
					</div>
					<div class="col">
						<h4>{{post.date}}</h4>
					</div>
				</div>
				<div class="row">
					<h3>{{post.excerpt}}</h3>
				</div>
				<div class="row my-2">
					<div class="d-grid gap-2 col">
						<a type="button" name="" id="" href="/admin/post?id={{post.id}}" class="btn btn-primary">edit</a>
					</div>
					<div class="d-grid gap-2 col">
						<a type="button" name="" id="" href="/admin/supress_post?id={{post.id}}" class="btn btn-primary">suppress</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
