{% extends "layout.html.twig" %}
{% block content %}
	<div class="container-lg">

		<form method="post" action="" class="row">
			<input type="hidden" name="token" value="{{csrfToken}}">
			<input type="hidden" name="id" value="{{post.id}}">
			<div class="row">
				<h2 class="text-center col-8"><input type="text" name="title" value="{{post.title}}"></h2>
				<h4 class="col-4">{{post.date}}</h4>
			</div>
		{% for admin in admins %}
				<div class="form-check">
					<input class="form-check-input" type="radio" name="author" id="{{admin.login}}" value="{{admin.id}}">
					<label class="form-check-label" for="{{admin.login}}">
						{{admin.firstname}}
						{{admin.lastname}}
                        {% if admin.id == user.id %}
                             (vous)
                        {% endif %}
                        {% if admin.id == post.authorId %}
                            (l'auteur du post)
                        {% endif %}
					</label>
				</div>
		{% endfor %}
		<input value="{{post.excerpt}}" name="excerpt" type="text">
		<textarea rows="10" name="content">{{post.content}}</textarea>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>{% endblock %}
